$color1: rgba(254, 183, 41, 1);
$color2: rgba(254, 242, 0, 1);
$color3: rgba(158, 205, 67, 1);
$color4: rgba(17, 148, 98, 1);
$color5: rgba(1, 177, 201, 1);

$primary-color: $color4;
$secondary-color: $color1;
$accent-color: $color3;

$font-color: #aaaaaa;
